.container {
	display: flex;
	flex-direction: row;
}

.sidebar {
	background-color: #d4d0d0;
	flex: 1;
}

.main {
	background-color: #e8eca4;
	flex-grow: 1;
}

@media screen and (max-width: 640px) {
	.container {
		flex-direction: column;
	}

	.sidebar {
		order: 2;
	}

	.main {
		order: 1;
	}

	ul {
		display: flex;
		flex-direction: row;
	}

	li {
		flex-grow: 1;
	}
}
